<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Elisabeth's Sports Item Catalog | {{ category }}
  </title>
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
  <link type="text/css"
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro"
        rel="stylesheet"
        type="text/css">
</head>
<body>
<div id="header" class="header">
  <h1>
    <a href="{{url_for('index')}}">
      Elisabeth's Sports Item Catalog
    </a>
  </h1>
</div>
<div>
  <h2>Categories</h2>
  <div class="block">
    {% for c in categories %}
    <a href="{{url_for('category', category=c.name)}}" method="get">
      {{c.name}}
    </a>
    <br>
    {% endfor %}
  </div>
</div>
<div>
  <h2>{{category}} Items ({{number_of_items}} items)</h2>
  <div class="block">
    {% for i in items %}
    <a href="{{url_for('item', item_id=i.id, category=i.category)}}" method="get">
      {{i.name}}
      <br>
    </a>
    {% endfor %}
  </div>
</div>
</body>
</html>