<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Lisa's Sports Item Catalog | Edit item
    </title>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h2>Edit Item</h2>
        <form action="{{url_for('edit_item', item_id=item.id)}}" method="post">
            Name:
            <br>
            <input type="text" name="name" value="{{item.name}}"
                   placeholder="{{item.name}}">
            <br>
            Description:
            <br>
            <input type="text" name="description" value="{{item.description}}"
                   placeholder="{{item.description}}">
            <br>
            Category:
            <br>
            <select name="category" value="{{item.category}}">
                {% for c in categories %}
                    {% if c.name == item.category %}
                        <option value="{{c.name}}" selected>{{c.name}}</option>
                    {% else %}
                        <option value="{{c.name}}">{{c.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <a href="{{url_for('item', item_id=item.id,
               category=item.category)}}" method="get">
                Cancel
        </a>
    </div>
</body>
</html>