<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Elisabeth's Sports Item Catalog
  </title>
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
  <link type="text/css"
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro"
        rel="stylesheet"
        type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<script>
        $.ajax({
            type: 'GET',
            url: "{{url_for('check_if_user_connected')}}",
            processData:false,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success:function(result){
                if (result.status == 'user_connected') {
                    console.log('User connected!');
                    var username = result.content.username;
                    var picture = result.content.picture;
                    $('#user_data').html(`Signed in as
                        <span style = "font-weight: bold;">${username}</span>
                        <img src="${picture}" class="user_img_small">`);
                    $('#sign_out_button').attr('style', 'display: inline');
                }
                else if (result.status == 'no_user_connected') {
                    console.log('No user connected!');
                    $('#sign_in_button').attr('style', 'display: inline');
                }
            },
            error:function(jqXHR, exception){
                $('#site_content').attr('style', 'display: none');
                $('#error_placeholder').html(jqXHR.responseText);
            }
        });
</script>

<div id="user_header" class="wrapper">
  <div id="user_data"></div>
  <div id="sign_out_button" style="display: none;">
    <a href="{{url_for('sign_out')}}">
      <button>Sign out</button>
    </a>
  </div>
  <div id="sign_in_button" style="display: none;">
    <a href="{{url_for('login')}}">
      <button>Sign in</button>
    </a>
  </div>
</div>

<div id="error_placeholder"></div>

<div id="site_content">
  <div id="header" class="header">
    <h1>
      <a href="{{url_for('index')}}">
        Elisabeth's Sports Item Catalog
      </a>
    </h1>
  </div>
  <img src="{{ url_for('static', filename='ramiro-mendes-2JMjC_jqbBk-unsplash.jpg') }}"
       id="header_pic">
  <div>
    <h2>Categories</h2>
    <div class="block">
      {% for c in categories %}
      <a href="{{url_for('category', category=c.name)}}" method="get">
        {{c.name}}
      </a>
      <br>
      {% endfor %}
    </div>
  </div>
  <div class="clear">
    <h2>
      Latest Items
      <a href="{{url_for('add_item')}}" method="get">
        <button>Add item</button>
      </a>
    </h2>
    <div class="block">
      {% for i in latest_items %}
      <a href="{{url_for('item', item_id=i.id, category=i.category)}}"
         method="get" class="inline">
        {{i.name}}
      </a>
      <a href="{{url_for('category', category=i.category)}}"
         method="get" class="aqua">
        ({{i.category}})
      </a>
      <br>
      {% endfor %}
    </div>
  </div>
  <footer>
    <p id="thank-you-note">
      Huge thanks to the following gracious stock photo artists:
    </p>
    <a style="background-color: black;
              color: white;
              text-decoration: none;
              padding: 4px 6px;
              font-family: -apple-system, BlinkMacSystemFont,
                           &quot;San Francisco&quot;,
                           &quot;Helvetica Neue&quot;, Helvetica, Ubuntu,
                           Roboto, Noto, &quot;Segoe UI&quot;, Arial,
                           sans-serif;
              font-size: 12px;
              font-weight: bold;
              line-height: 1.2;
              display: inline-block;
              border-radius: 3px"
       href="https://unsplash.com/@thisisramiro?utm_medium=referral&amp;
                     utm_campaign=photographer-credit&amp;utm_content=creditBadge"
       target="_blank"
       rel="noopener noreferrer"
       title="Download free do whatever you want high-resolution photos
                      from Ramiro Mendes">
      <span style="display:inline-block; padding:2px 3px">
        <svg xmlns="http://www.w3.org/2000/svg"
             style="height:12px; width:auto; position:relative;
                       vertical-align:middle; top:-2px; fill:white"
             viewBox="0 0 32 32">
          <title>unsplash-logo</title>
          <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
        </svg>
      </span>
        <span style="display:inline-block; padding:2px 3px">
          Ramiro Mendes
        </span>
    </a>
  </footer>
</div>
</body>
</html>
