<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Lisa's Sports Item Catalog
    </title>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h2>Categories</h2>
        {% for c in categories %}
            <a href="{{url_for('category', category=c.name)}}" method="get">
                {{c.name}}
            </a>
            <br>
        {% endfor %}
    </div>
    <div>
        <a href="{{url_for('add_item')}}" method="get">
                Add item
        </a>
        <h2>Latest Items</h2>
        {% for i in latest_items %}
            <a href="{{url_for('item', item_id=i.id, category=i.category)}}"
               method="get">
                {{i.name}} ({{i.category}})
            </a>
            <br>
        {% endfor %}
    </div>
</body>
</html>
