<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Elisabeth's Sports Item Catalog
    </title>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro"
          rel="stylesheet"
          type="text/css">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="705536674302-69vll8pod29taqh1u0apft2ff6llcm3c.apps.googleusercontent.com">
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
    <div id="header" class="header">
        <h1>
            <a href="{{url_for('index')}}">
                Elisabeth's Sports Item Catalog
            </a>
        </h1>
    </div>
    <div>
        <h2>Login</h2>
        <div class="block">
            <!-- Code for sign-in button and sign-out link provided by Google
             at https://developers.google.com/identity/sign-in/web/sign-in -->
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <a href="#" onclick="signOut();">Sign out</a>
            <script>
                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        console.log('User signed out.');
                    });
                }
            </script>
        </div>
    </div>
</body>
</html>